{% extends 'base.html' %}
{% load i18n common %}

{% block title %}{% trans 'Home' %} - {% endblock %}

{% block content %}
    {% for date in scheduler_dates %}
        <div class="col-xs-6">
            <div class="page-header">{{ date }}</div>
            {% with serialized_sheduler=date|get_scheduler_date_fields %}
			<dl class="dl-horizontal">
                {% for name, value in serialized_sheduler.fields %}
						{% if value %}
                        <dt>{{ name }}</dt>
                        <dd>{{ value }}</dd>
                    {% endif %}
                {% endfor %}
			</dl>
            {% endwith %}
        </div>
    {% endfor %}
{% endblock %}
