{% load i18n static %}

<!DOCTYPE html>
<html lang="he">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}{% trans 'Scheduler' %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/scheduler.css' %}">
		<link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/master/dist/css/bootstrap-rtl.min.css">

        {% block style %}{% endblock %}
    </head>
    <body>
        {% include 'common/include/header.html' %}
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
